.header__container {
  height: 150px;
  color: white;
  text-align: center;
  background-color: #222;
  padding: 20px;
}

.header__menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header__menu li {
  display: inline-block;
  padding-right: 10px;
}